<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Sniglet" />
        <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
                <link rel="stylesheet" href="/css/app.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="/"><img src='/img/logo/logo.png';></a>
                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Catégories</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown09">
                                <a class="nav-link blue" href="{{ path('sous_cat_show', {id : 1}) }}">Ordinateurs</a>
                                <a class="nav-link" href="{{ path('sous_cat_show', {id : 2}) }}">Composants</a>
                                {# <a class="dropdown-item" href="{{ path('contacts_add', {'source':'FY to date'}) }}">FY to date</a> #}
                            </div>
                        </li>
                        {# <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Catégories</a> #}
                            {# <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                              <a class="dropdown-item" href="{{ path('sous_cat_show', {id : 1}) }}">Ordinateurs</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="{{ path('sous_cat_show', {id : 2}) }}">Composants</a>
                            </div> #}
                          </li>
                        
                    <ul class="navbar-nav mr-auto">
                        {% if not app.user %}
                            <li class="nav-item">
                            <a class="nav-link" href="{{ path('security_login') }}">Connexion</a>
                            </li>

                                <li>
                                    <a class="nav-link" href="{{ path('security_registration')}}">S'inscrire</a>
                                </li>

                        {% else %}
                        <li class="nav-item">
                          <a class="nav-link" href="{{ path('security_logout') }}">Déconnexion</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="{{ path('moncompte') }}">Mon compte</a>
                      </li>
                      {% endif %}
                      <li>
                      <a href="{{path('show_panier')}}" class="btn btn-info btn-lg">
                          <span class="glyphicon glyphicon-shopping-cart"></span> Panier
                        </a>
                    </li>
                    </ul>
                </div>
              </nav>
              <div class = "container">
                {% block body %}
                
                {% endblock %}
              </div>
        {% block javascripts %}{% endblock %}
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>